<a href="https://colab.research.google.com/github/JSMaruthi/DATA-Analytics/blob/main/DA_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ("Hello world")

Hello world

In [ ]:
      Creating variables

In [2]:
college = ("SJCE")
print (college)

SJCE

In [6]:
a = 10
b= 25
c=a*b
print (c)

250

In [7]:
print (college,c)

SJCE 250

In [10]:
True + 1

2

In [11]:
False + 1

1

In [12]:
True + True

2

In [14]:
False + False

0

In [15]:
"STR" + True

TypeError: can only concatenate str (not "bool") to str

In [16]:
#TYPE Casting int -> Float
x = 10      #int
y = 3.5     #float
z = x + y
print (z)
print (type(z))

13.5
<class 'float'>

In [18]:
#Type Casting float -> int
a = 10.5
b = int(a)
print (b)
print(type (a))

10
<class 'float'>

In [19]:
#Type Casting number -> string
d = str(123)
print (d)
print (type(d))

123
<class 'str'>

In [20]:
#Type Casting string -> integer
e = int ("56")
print (e)
print (type(e))

56
<class 'int'>

In [28]:
#Formatted output
name = "Maruthi S"
age = 20
print (f"My name is {name} and my age is {age}")

My name is Maruthi S and my age is 20