<a href="https://colab.research.google.com/github/JSMaruthi/DATA-Analytics/blob/main/DA_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ("Hello world")

Hello world

In [ ]:
      Creating variables

In [ ]:
college = ("SJCE")
print (college)

SJCE

In [ ]:
a = 10
b= 25
c=a*b
print (c)

250

In [ ]:
print (college,c)

SJCE 250

In [ ]:
True + 1

2

In [ ]:
False + 1

1

In [ ]:
True + True

2

In [ ]:
False + False

0

In [ ]:
"STR" + True

TypeError: can only concatenate str (not "bool") to str

In [ ]:
#TYPE Casting int -> Float
x = 10      #int
y = 3.5     #float
z = x + y
print (z)
print (type(z))

13.5
<class 'float'>

In [ ]:
#Type Casting float -> int
a = 10.5
b = int(a)
print (b)
print(type (a))

10
<class 'float'>

In [ ]:
#Type Casting number -> string
d = str(123)
print (d)
print (type(d))

123
<class 'str'>

In [ ]:
#Type Casting string -> integer
e = int ("56")
print (e)
print (type(e))

56
<class 'int'>

In [ ]:
#Formatted output
name = "Maruthi S"
age = 20
print (f"My name is {name} and my age is {age}")

My name is Maruthi S and my age is 20

In [ ]:
#Functions

In [ ]:
def greet():
  print ("Hello, Welcome to Python!")

In [ ]:
greet()

Hello, Welcome to Python!

Functions with Parameter

In [ ]:
def greet_user (Jayanth):
  print (f"Hello, {Jayanth}!")

greet_user ("Jayanth")

Hello, Jayanth!

Functions With return type

In [ ]:
def add (a,b):
  return a+b
result = add(10,5)
print ("Sum =", result)

Sum = 15

List - ordered, changeable & store different data types. Index will start from 0.

In [ ]:
fruits = ["apple","Banana","Cherry"]
numbers = [10,12,24]
mixed = [10, "Hi", 3.14, True]

In [ ]:
num = [1,3,5,7,9]
num[-3]

5

In [ ]:
num = [1,3,5,7,9]
num[2]

5

Modifying lists, changing value

In [1]:
numbers=[10,20,30,40,50]
numbers[2]=35
print(numbers)

[10, 20, 35, 40, 50]

  Adding Elements
(Append) - Adds item @ the end

In [3]:
nums = [1,2,3]
nums.append(4)
print(nums)

[1, 2, 3, 4]

(insert) adds its @ specific index

In [5]:
numbers=[10,20,30,40]
numbers.insert(3,35)
print(numbers)

[10, 20, 30, 35, 40]