<a href="https://colab.research.google.com/github/JSMaruthi/DATA-Analytics/blob/main/DATA_Analytics_A_Z.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ("Hello world")

Hello world

In [ ]:
      #Creating variables

In [ ]:
college = ("SJCE")
print (college)

SJCE

In [ ]:
a = 10
b= 25
c=a*b
print (c)

250

In [ ]:
print (college,c)

SJCE 250

In [ ]:
True + 1

2

In [ ]:
False + 1

1

In [ ]:
True + True

2

In [ ]:
False + False

0

In [ ]:
"STR" + True

TypeError: can only concatenate str (not "bool") to str

In [ ]:
#TYPE Casting int -> Float
x = 10      #int
y = 3.5     #float
z = x + y
print (z)
print (type(z))

13.5
<class 'float'>

In [ ]:
#Type Casting float -> int
a = 10.5
b = int(a)
print (b)
print(type (a))

10
<class 'float'>

In [ ]:
#Type Casting number -> string
d = str(123)
print (d)
print (type(d))

123
<class 'str'>

In [ ]:
#Type Casting string -> integer
e = int ("56")
print (e)
print (type(e))

56
<class 'int'>

In [ ]:
#Formatted output
name = "Maruthi S"
age = 20
print (f"My name is {name} and my age is {age}")

My name is Maruthi S and my age is 20

In [ ]:
#Functions

In [ ]:
def greet():
  print ("Hello, Welcome to Python!")

In [ ]:
greet()

Hello, Welcome to Python!

Functions with Parameter

In [ ]:
def greet_user (Jayanth):
  print (f"Hello, {Jayanth}!")

greet_user ("Jayanth")

Hello, Jayanth!

Functions With return type

In [ ]:
def add (a,b):
  return a+b
result = add(10,5)
print ("Sum =", result)

Sum = 15

List - ordered, changeable & store different data types. Index will start from 0.

In [ ]:
fruits = ["apple","Banana","Cherry"]
numbers = [10,12,24]
mixed = [10, "Hi", 3.14, True]

In [ ]:
num = [1,3,5,7,9]
num[-3]

5

In [ ]:
num = [1,3,5,7,9]
num[2]

5

Modifying lists, changing value

In [ ]:
numbers=[10,20,30,40,50]
numbers[2]=35
print(numbers)

[10, 20, 35, 40, 50]

  Adding Elements
(Append) - Adds item @ the end

In [ ]:
nums = [1,2,3]
nums.append(4)
print(nums)

[1, 2, 3, 4]

(insert) adds its @ specific index

In [ ]:
numbers=[10,20,30,40]
numbers.insert(3,35)
print(numbers)

[10, 20, 30, 35, 40]

(extend) adds multiple items

In [ ]:
nums = [11,22,33,44,55]
nums.extend([66,77])
print(nums)

[11, 22, 33, 44, 55, 66, 77]

Removing elements

Remove(x) - Removes the occurence of x

In [ ]:
nums = [1,2,3,4]
nums.remove(2)
print(nums)

[1, 3, 4]

Pop(i) it removes element @ index i

In [ ]:
nums = [30,40,50,60,70]
nums.pop(2)
print(nums)

[30, 40, 60, 70]

pop() - it removes the last element in list

In [ ]:
nums=[33,45,36,78,39]
nums.pop()
print(nums)

[33, 45, 36, 78]

clear() - it removes all elements in a list

In [ ]:
nums=[30,35,40,45,50]
nums.clear()
print(nums)

[]

Copy - Copies the list

In [ ]:
number = [1,2,3]
number_copy = number.copy()
number.reverse()
print(number)
print(number_copy)

[3, 2, 1]
[1, 2, 3]

List functions & Methods

In [ ]:
#length - to get the length of list
nums=[3,4,1,5,9]
print(len(nums))

5

In [ ]:
#sum - it gives the sum of elements
nums=[1,3,4,2]
print(sum(nums))

10

In [ ]:
#max - it gives the largest element of list
nums=[1,8,9,10]
print(max(nums))

10

In [ ]:
#min -  it gives the minimum value of list
nums=[2,1,3,5,9]
print(min(nums))

1

In [ ]:
#sorted - it returns sorted list
nums = [33,46,29,53,10]
print(sorted(nums))

[10, 29, 33, 46, 53]

Dictionary - collection of key value pairs, it is unordered, mutable & indexed by keys, not by position

In [ ]:
student = {"Name": "Jayanth", "Age":20, "Branch":"CSBS"}
print(student)

{'Name': 'Jayanth', 'Age': 20, 'Branch': 'CSBS'}

In [ ]:
#creating dictionary
my_dict = {'a':1, 'b':2, 'c':3}
print(my_dict['a'])
print(my_dict.get('b'))

1
2

In [ ]:
#Add, Update & delete elements
my_dict = {'a':1, 'b':2, 'c':3}
my_dict['d']=4
my_dict['a']=100
print(my_dict)

{'a': 100, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
#delete keys
my_dict = {'a':1,'b':2, 'c':3, 'd':4}
my_dict['b']  #delete by key
my_dict.pop('c') #delete & return
my_dict.popitem() # Removes last added pair
#my_dict.clear() # Removes all items

('d', 4)

Tuples Ordered, immutable(unchangeable), collection of items

In [ ]:
my_tuple = (1,2,3,4)
print(my_tuple)

(1, 2, 3, 4)

In [ ]:
#count() - Returns the number of times specified value occurs in a tuple.
my_tuple=(1,2,3,4,2,2,4)
print(my_tuple.count(2))

3

In [ ]:
#index() - returns the index o the first occurance of a specified value.
a = (10,20,30,40,50,60)
print(a.index(30))

2

In [ ]:
#len() - returns the element in the tuple
a = (22,33,44,56,78)
print(len(a))

5

In [ ]:
#max() - returns the largest item in the tuple
a = (10,33,40,59,60)
print(max(a))

60

In [ ]:
#accessing elements inside a tuple
fruits = ('apple','cherry','Banana','orange')
fruits[-1]

'orange'

In [ ]:
vegetables = ('coconut','cucumber','onion','potato')
vegetables[1]

'cucumber'

Tuple packing & unpacking - Tuples allow u to group multiple values & extract them easily.

In [ ]:
#packing
student = ("Jayanth","CSBS",3)
#unpacking
name, branch, year = student
print(name)
print(branch)
print(year)

Jayanth
CSBS
3

In [ ]:
#Concatenating - to add items to tuple
fruits = ('mango','orange')
f1 = fruits + ("grapes", "Banana")
print(f1)

('mango', 'orange', 'grapes', 'Banana')

In [ ]:
f1 = ('mango','orange','cherry')
#type(f1)
#list(f1)
type(f1)

tuple

In [ ]:
#operators